@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

$back:#2a2a2b;
$white:#edf0f1;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  .logo{
    color: #f2f2f2;
    font-size: 33px;
    line-height: 80px;
    padding: 0 140px;
    font-weight: 600;
    font-family: 'Sriracha', sans-serif;
  }
  .logo:hover{
    background-color: $back;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
 
  nav {
    background: #19191a;
    height: 80px;
    width: 100%;
    ul{
        float: right;
        margin-right: 60px;
      }
    ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 2px;
    }
    ul li a{
        color:$white;
        font-weight: 500;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
        font-family: 'Sriracha', sans-serif;
      }
    
  }

  a.active,a:hover{
    background-color: #2a2a2b;
    transition: all 0.3s ease 0s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 27px;
      padding-left: 25px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      margin-right: 40px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #222425;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background-color: #282a2b;
      
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  %heading{
    color: $white;
    position: absolute; 
    top: 400px;
    left: 500px;
    bottom: 100px;
  }
  section{
    background: url(/img/cat-paw-l.png) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    
      div{
        h3.a{
          font-size: 50px;
          top: 200px;
          left: 100px;
          @extend %heading;
  
        }
        h5.b{
          @extend %heading;
        }
      }
    @media (max-width: 858px) {
      div{
        h3.a{
          visibility: hidden;
        }
        h5.b{
          visibility: hidden;
        }
      }
    }
  }
  .img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
  	position:relative;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}
  
.img-hover:hover:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    width:30px;
    height:30px;
    border:1px solid #000;
}
  
.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%); 
}
%section_heading{
  background-color:gray;
  color: $white;
  font-size: 50px;
  text-align: center;
}
div.heading{
  h3{
    @extend %section_heading;
  }
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: grey;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  color: grey;
}


